@charset "utf-8";

// Config
$content-w : 980px;
$min-width : 980px;
$max-width : 1200px;
$black     : #000;
$white     : #fff;
$red       : #f00;

// Mixin
// ポジション(絶対配置)
@mixin absPosition ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacityIE: $opacity * 100;
	filter: alpha(opacity=$opacityIE);
}

// トランジション
@mixin transition($param){
	-webkit-transition: $param;
	-moz-transition: $param;
	-o-transition: $param;
	transition: $param;
}

// キーフレーム
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

// アニメーション
@mixin animation($animation-name) {
  -webkit-animation: $animation-name;
  -moz-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

// グラデーション縦
@mixin gradient-v($start,$end){
	background: $start;
	background: -moz-linear-gradient(top, $start 0%, $end 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(100%,$end)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $start 0%,$end 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $start 0%,$end 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $start 0%,$end 100%); /* IE10+ */
	background: linear-gradient(top, $start 0%,$end 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}',GradientType=0 ); /* IE6-9 */
}

// グラデーション横
@mixin gradient-h($start,$end){
	background: $start; /* Old browsers */
	background: -moz-linear-gradient(left, $start 0%, $end 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start), color-stop(100%,$end)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, $start 0%,$end 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, $start 0%,$end 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, $start 0%,$end 100%); /* IE10+ */
	background: linear-gradient(left, $start 0%,$end 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}',GradientType=1 ); /* IE6-9 */
}

// ボックスシャドウ
@mixin box-shadow($horizontal: 10px, $vertical: 10px, $blur: 0px, $shadow: 0px, $color: #000000){
  -webkit-box-shadow: $horizontal $vertical $blur $shadow $color;
  -moz-box-shadow: $horizontal $vertical $blur $shadow $color;
  box-shadow: $horizontal $vertical $blur $shadow $color;
}

// 3点リーダー
@mixin line-clamp($size){
  display: box;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $size;
  -webkit-box-orient: vertical;
}

// 吹き出し
@mixin arrow($color, $size, $position) {
  position: relative;
  background: $color;
  &:after{
    bottom: 100%;
    left: $position;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: $color;
    border-width: $size + px;
    margin-left: -$size + px;
  }
}
